<%- include("../includes/header.ejs", {title:"Skills"}); %>
    <h1>Skills</h1>
    <ul>
        <li>Skill: <%= result[0].skill_name %> <%= result[0].description %> </li>

    </ul>

<a href="/skill/all"><< back</a>

<%-