<%- include("../includes/header.ejs", {title:"Schools"}); %>
    <h1>Schools</h1>
    <ul>
        <li>School Name: <%= result[0].school_name %></li>
        <li>Address: <%=  result.street+ ', ' + result.zip_code %></li>
        </li>
    </ul>

<a href="/school/all"><< back</a>

<%- include("../includes/footer.ejs"); %>

<!-- (SELECT a.street from address a LEFT JOIN school sc on a.address_id = sc.address_id WHERE address_id = result[0].address_id)-->